.line {
  composes: line from '../core/Chart.module.css';
}

.dot {
  composes: dot from '../core/Chart.module.css';
}

.dotVisible {
  composes: dotVisible from '../core/Chart.module.css';
}

.valueLabel {
  composes: valueLabel from '../core/Chart.module.css';
}

.series {
  composes: series from '../core/Chart.module.css';
}

.seriesOff {
  composes: seriesOff from '../core/Chart.module.css';
}
