:root {
  --pl-brand-orange-10: #FFF4EE;
  --pl-brand-orange-20: #FFE5D8;
  --pl-brand-orange-30: #FFC4AA;
  --pl-brand-orange-40: #FA9870;
  --pl-brand-orange-50: #F26B35;
  --pl-brand-orange-60: #D95522;
  --pl-brand-orange-70: #B9441A;
  --pl-brand-orange-80: #8F3418;
  --pl-brand-orange-90: #642615;
  --pl-brand-orange-100: #3A160D;

  --pl-brand-blue-10: #F2F5FC;
  --pl-brand-blue-20: #E1E7F5;
  --pl-brand-blue-30: #C1CDE9;
  --pl-brand-blue-40: #8EA2D0;
  --pl-brand-blue-50: #49619C;
  --pl-brand-blue-60: #3C5184;
  --pl-brand-blue-70: #30416A;
  --pl-brand-blue-80: #263353;
  --pl-brand-blue-90: #1B253D;
  --pl-brand-blue-100: #101624;

  --pl-brand-purple-10: #F8F1FB;
  --pl-brand-purple-20: #EBDCF3;
  --pl-brand-purple-30: #D6B9E3;
  --pl-brand-purple-40: #A97AC0;
  --pl-brand-purple-50: #6E2A92;
  --pl-brand-purple-60: #5E237D;
  --pl-brand-purple-70: #4D1D67;
  --pl-brand-purple-80: #3B164F;
  --pl-brand-purple-90: #291038;
  --pl-brand-purple-100: #17091F;
}
